::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #6b819c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #485669;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 20px;
  background: #555;
}
